/* Podemos dar sequência para inserir a imagem do dragão.
 Para isso, usaremos a propriedade background-image recebendo url("../images/Banner-Pipoca.png").
Também definiremos background-position: top para posicionar a imagem, background-repeat: no-repeat 
para que a imagem apareça apenas uma vez, e background-size: cover. */

.combo {
    background: var(--cor-de-fundo-combo);
    height: 25rem;
    background-image: url('../images/Banner-Pipoca.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

/* código omitido */

.combo_container {
    max-width: var(--max-width-block);
    margin: 0 auto;
    display: flex;
     flex-direction: column;
    justify-content: center; 
   height: 100%; 
}

.combo_titulo {
    width: 50%;
    font-family: var(--fonte-titulo);
    font-size: var(--font-size-xxl);
    line-height: var(--line-height-xxl);
    font-weight: 400;
    color: var(--cor-texto-claro);

}


.combo_titulo-destaque {
    color: var(--cor-texto-destaque);
    font-size: var(--font-size-xxl);
}

/* tornando responsivo */
/*  */

@media screen and (max-width: 1200px) {
    .combo__container {
        padding: 0 var(--padding-xxl);
    }

    .combo__titulo, .combo__titulo-destaque {
        font-size: var(--font-size-xl);
        line-height: var(--line-height-xl);
    }
}

/* código omitido */

@media screen and (max-width: 730px) {
    .combo__container {
        padding: 0 var(--padding-m);
    }
    .combo_titulo, .combo_titulo-destaque {
        font-size: var(--font-size-l);
    }
}